<template>
  <div
    :class="[
      'pfw-content-block__container',
      {
        'is-black': background === '#000',
        'is-gray': background === 'is-gray',
        'is-ghost-white': background === 'ghostwhite',
        'is-purple-lighten': background === 'purple-lighten',
        'is-full-screen is-margin-bottom-3': height === 'full-screen',
        'is-auto': height === 'auto',
        'is-paddings-added-10-20-4': addPaddings === true,
      },
    ]"
  >
    <h2
      v-if="title"
      :class="[
        'pfw-content-block__title',
        {
          'is-whity': background === '#000',
          'is-line-over-title': lineOverTitle === true,
        },
      ]"
    >
      {{ title }}
    </h2>
    <h3
      v-if="subtitle"
      :class="[
        'pfw-content-block__subtitle',
        { 'is-whity': background === '#000' },
      ]"
    >
      {{ subtitle }}
    </h3>
    <p class="pfw-content-block__text text-center">{{ text }}</p>
    <slot />
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    title: {
      type: String,
      required: false,
    },
    subtitle: {
      type: String,
      required: false,
    },
    background: {
      type: String,
      required: false,
    },
    height: {
      type: String,
      required: true,
      default: 'full-screen',
    },
    text: {
      type: String,
      required: false,
    },
    addPaddings: {
      type: Boolean,
      required: false,
    },
    lineOverTitle: {
      type: Boolean,
      required: false,
    },
  },
})
</script>
