<template>
  <div class="text-center">
    <v-dialog v-model="displayDialog" width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Email sending status
        </v-card-title>

        <v-card-text class="mt-sm-10 mb-sm-10"> {{ text }} </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="success" @click="closeDialog"> OK </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
//import Vue from 'vue'
export default {
  data() {
    return {
      dialog: false,
    }
  },
  computed: {
    displayDialog() {
      this.dialog = this.shouldDisplay
      return this.shouldDisplay
    },
  },
  props: {
    text: {
      type: String,
      required: true,
      default: '',
    },
    shouldDisplay: {
      type: Boolean,
      required: true,
      default: false,
    },
  },
  methods: {
    closeDialog() {
      this.dialog = this.displayDialog
      this.$emit('close-dialog')
    },
  },
}
</script>
