<template>
  <img
    alt=""
    :src="require('~/assets/images/' + size + '/' + image)"
    class="pfw-hero-image"
  />
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    size: {
      type: String,
      required: true,
      default: '',
    },
    image: {
      type: String,
      required: true,
      default: '',
    },
  },
})
</script>
