<template>
  <h2 class="pfw-page__title">{{ title }}</h2>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    title: { type: String, required: true, default: 'Plants fed well' },
  },
})
</script>
