<template>
  <v-app>
    <Header />
    <v-main class="pfw-page__container">
      <v-row no-gutters class="mt-16">
        <v-col
          cols="12"
          sm="3"
          class="pfw-font-size-2-point-5 text-center mt-sm-16 font-weight-bold"
        >
          <p>Toronto, Ontario</p>
          <p>
            <a href="mailto:office@plantsfedwell.ca" class="pfw-mail__link"
              >office@plantsfedwell.ca</a
            >
          </p>
          <p>+ 1 647 914 3060</p>
        </v-col>
        <v-col
          cols="12"
          sm="3"
          align-right
          class="pfw-contact-page__icon-container"
        >
          <img
            alt=""
            src="~/assets/images/logos/biljcica.png"
            class="pfw-contact-page__icon"
          />
        </v-col>
        <v-col cols="12" sm="6">
          <ContactForm />
        </v-col>
      </v-row>
    </v-main>
    <Footer />
  </v-app>
</template>
<script lang="ts">
import Vue from 'vue'
import Header from './../../layouts/header.vue'
import ContactForm from './../../components/contact-form.vue'
import Footer from './../../layouts/footer.vue'

export default Vue.extend({
  head() {
    return {
      title: 'Plants Fed Well Inc. - Contact',
    }
  },
  components: { Header, Footer, ContactForm },
})
</script>
