
// @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url('~assets/fonts/Montserrat-Light.ttf') format('truetype');
// }

html { font-size: 10px !important; font-family: "Raleway"}

// $body-font-family: "Montserrat";
.v-application {
  font-family: "Raleway" !important;
}

// @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src: url('~assets/fonts/Montserrat-Black.ttf') format('truetype');
// }
