.full-width {
  width: 100%;
}

.pfw-font-size {
  font-size: 1.6rem;
}

.pfw-font-size-2-point-5 {
  font-size: 2.5rem;

  @include tablet-landscape {
    font-size: 2rem;
  }
}


.pfw-u-text {
    font-size: 1.6rem;
}

.add-padding-4-top-bottom {
  padding: 4rem 0;
}

.is-font-16 {
  font-size: 1.6rem;
}

.center-small {
  @include tablet-portrait {
    width: auto;
    margin: 0 auto;
  }
}

.pfw-mail__link {
  text-decoration: none;
  color: $main-color-black !important;

  &:hover {
    color: $main-color-orange !important;
  }
}
