<template>
  <v-app>
    <div>
      <Header />
      <v-main class="pfw-page__container">
        <Title title="Mineral nutrition solutions" />
        <ImageAndContent
          image="sun-hand-plant.jpg"
          size="desktop"
          title="What we do?"
          :image-on-right="true"
          :image-big="true"
          text="We provide our clients with scientifically-optimized nutrient solutions that bypass questionable and costly components of feeding programs often marketed as essential. Having a full control over your watering and mineral nutrition practices will let you establish a solid, easily-adjustable schedule resilient to human errors. Satisfy the crop’s needs fully and take the malnutrition guessing game out of the equation."
        />
        <client-only>
          <ImageAndContent
            image="hand-to-plants.jpg"
            size="desktop"
            text="Do not waste resources! We can preserve your resources by listing, planning and controlling their utilization. Whether it is water, nutrients, energy or labour - give plants what they crave for, and then let them and your facility do the rest."
            title="test"
            :image-on-right="screenWidth > 1024 ? false : true"
          />
        </client-only>
        <ContentBlock
          background="is-gray"
          height="auto"
          text="We can also assist you in installing and managing nutrient-management fertigation systems that will let you focus on fine-tuning the pillars of your cultivation process and making your enterprise a robust, sturdy business that marches ahead."
          class="mt-lg-8 mb-lg-8 is-width-100"
        >
        </ContentBlock>
      </v-main>
      <ContactAction />
      <HeroImage size="desktop" image="math-plant.jpg" class="pfw-hero-image" />
      <Footer />
    </div>
  </v-app>
</template>
<script lang="ts">
import Vue from 'vue'
import Header from './../../layouts/header.vue'
import ContentBlock from './../../components/shared/content-block.vue'
import Footer from './../../layouts/footer.vue'
import ContactAction from './../../components/contact-action.vue'
import HeroImage from './../../components/shared/hero-image.vue'
import ImageAndContent from '@/components/image-and-content.vue'
import screenWidth from './../../mixins/global.js'

export default Vue.extend({
  head() {
    return {
      title: 'Plants Fed Well Inc. - Mineral Nutrition Solutions',
    }
  },
  components: {
    Header,
    ContentBlock,
    Footer,
    ContactAction,
    HeroImage,
    ImageAndContent,
  },
  mixins: [screenWidth],
})
</script>
