.pfw-contact-action__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(to left, white, #f6b923) !important;
  width: 75%;
  height: 5rem;
  padding-left: 10rem;

  @include tablet-landscape {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-left: 1rem;
  }
}

.pfw-contact-action__title {
  font-size: 2rem;
}

.pfw-contact-action__link {
  text-decoration: none;
  color: $main-color-black !important;
}
