.pfw-content-block__container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 53%;

  &.is-width-100 {
    width: 100%;
  }
  &.is-black {
    background: #000;
  }

  &.is-gray {
    //    background: $main-color-gray-4;
  }

  &.is-ghost-white {
    background: ghostwhite;
  }

  &.is-purple-lighten {
    background: $purple-lighten-5;
  }

  &.is-full-screen {
    min-height: 100vh;
    height: auto;

    @include tablet-landscape {
      //      height: auto;
    }
  }

  &.is-margin-bottom-3 {
    margin-bottom: 3rem;
  }

  &.is-auto {
    height: auto;
  }

  &.is-paddings-added-10-20-4 {
    padding: 10rem 20rem 4rem;

    @include tablet-landscape {
      padding: 4rem 0;
    }
  }

  &.is-paddings-added-4-10 {
    padding: 4rem 10rem 4rem;
    @include tablet-landscape {
      padding: 4rem 0;
    }
  }
  &.is-paddings-added-4 {
    padding: 4rem;
    @include tablet-landscape {
      padding: 4rem 0;
    }
  }
  &.is-paddings-added-1-2 {
    padding: 1rem 2rem 1rem;
  }

  &.is-padding-small-top-4 {
    @include tablet-landscape {
      padding: 4rem 0 0 0;
    }
  }

  &.is-text-left-aligned {
    align-items: flex-start;
  }

  &.is-text-centered {
    align-items: center;
  }

  &.center-verticaly {
    justify-content: center;
  }

  @include tablet-landscape {
    padding: 4rem 0;
    width:100%;
  }
}

.pfw-content-block__text-item {
  line-height: 5rem;
}

.pfw-content-block__title {
  font-size: 4rem;

  &.is-whity {
    color: $main-color-gray;
  }

  &.is-line-over-title {
    border-top: 1rem solid $main-color-purple;
    padding-top: 2rem;
  }

  @include tablet-landscape {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

.pfw-content-block__subtitle {
  font-size: 1.8rem;
  color: $main-color-gray-3;
  margin-top: 1.5rem;

  &.is-whity {
    color: $main-color-gray;
  }

  @include tablet-landscape {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

.pfw-content-block__text {
  font-size: 2rem;
  color: $main-color-black;
  margin-top: 1.5rem;
  line-height: 4rem;

  @include tablet-landscape {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
  }
}
