.pfw-display-images__container {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 0;
}

.pfw-display-images__image {
  object-fit: cover;
}
.pfw-display-images__image:nth-child(1) {
  width: 66%;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.pfw-display-images__image:nth-child(2) {
  width: 33%;
  padding-bottom: 3rem;
}

.pfw-display-images__image:nth-child(3) {
  width: 33%;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.pfw-display-images__image:nth-child(4) {
  width: 66%;
  padding-bottom: 3rem;
}
