.pfw-header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main-color-white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 12;
  //border-bottom: 0.1rem solid $main-color-gray;
  height: 7rem;
  margin-top: 10rem;


  @include tablet-landscape {
    text-align: center;
    height: 7rem;
    margin-top: 0;
  }
}

.pfw-small-screen__falafel {
  position: absolute;
  left: 0;
  z-index: 999;
}
