.pfw-hero-banner__container {
  min-height: 100vh;
  height: auto;
  display: flex;
  position: relative;
  justify-content: flex-start;

  @include tablet-landscape {
    //flex-direction: column-reverse;
  }

  @include tablet-portrait {
    flex-direction: column-reverse;
  }
}

.pfw-hero-banner__image-container {
  //  max-width: 100%;
  //  background-size: cover;
  display: flex;
  position: relative;
  z-index: 1;
  object-fit: contain;
  flex-basis: 50%;

  &.is-rounded {
    border-radius: 0 0 50% 50%/0 0 15% 15%;
  }
}

.pfw-hero-banner__image {
  // width: 50rem;
  position: absolute;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  @include tablet-landscape {
    position: relative;
    top: 0;
    transform: none;
  }
}

.pfw-hero-banner__text-container {
  // width: 50rem;
  // left: 50%;
  //  -ms-transform: translateX(-50%);
  // transform: translateX(-50%);
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
  font-size: 1.8rem;
  text-align: justify;
  color: $main-color-gray-3;
  background: white;
  padding-right: 30rem;

  @include tablet-landscape {
    //flex-direction: column-reverse;
    padding-right: 10rem;
  }

  @include tablet-portrait {
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
  }
}

.pfw-hero-banner__border-container {
  height: auto;
  border-top: 0.3rem solid $main-color-purple;
  padding-top: 4rem;

  @include tablet-portrait {
    border-top: none;
  }
}

.pfw-hero-banner__title {
  font-size: 4rem;
  color: $main-color-black;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  width: 100%;
  //border-bottom: 0.1rem solid black;
  text-align: left;
}

.pfw-hero-banner__text {
  font-size: 2.5rem;
  margin-bottom: 8rem !important;
  color: $main-color-black;
}
