.pfw-image-and-content__container {
  width: 100%;
  &.is-flex {
    display: flex;
  }

  &.is-height-40 {
    min-height: 40rem;
  }

  &.is-height-30 {
    height: 30rem;
  }

  @include tablet-landscape {
    flex-direction: column;
  }
}

.pfw-image-and-content__image {
  object-fit: contain;

  &.is-width-40 {
    width: 47%;

    @include tablet-landscape {
      width: 100%;
    }
  }

  &.is-width-50 {
    width: 50%;

    @include tablet-landscape {
      width: 100%;
    }
  }
  &.is-width-60 {
    width: 60%;

    @include tablet-landscape {
      width: 100%;
    }
  }
}
