@keyframes decrease {
  from {
    width: 35rem;
  }
  to {
    background-color: 15rem;
  }
}

@keyframes desktop-small-decrease {
  from {
    width: 25rem;
  }
  to {
    background-color: 15rem;
  }
}

@keyframes desktop-small-increase {
  from {
    width: 15rem;
  }
  to {
    background-color: 25rem;
  }
}

@keyframes increase {
  from {
    width: 15rem;
  }
  to {
    background-color: 35rem;
  }
}

.pfw-logo__container {
  position: relative;
  height: 100%;
  width: 70%;
  &.is-padding-left-13 {
    padding-left: 13rem;

    @include tablet-landscape {
      padding-left: 0;
    }
  }

  @include desktop-small {
    width: 35%;
  }

  @include tablet-landscape {
    width: 100%;
  }
}

.pfw-logo__image {
  position: absolute;
  bottom: 0;
  width: 35rem;
  z-index: 99;
  left: 25%;
  // transform: translateX(-50%);

  &.should-decrease-logo-size {
    width: 15rem;
    animation-name: decrease;
    animation-duration: 0.5s;

    @include desktop-small {
      width: 15rem;
      animation-name: desktop-small-decrease;
      animation-duration: 0.2s;
    }

    @include tablet-landscape {
      width: 15rem;
      animation-name: none;
    }
  }

  &.should-increase-logo-size {
    width: 35rem;
    animation-name: increase;
    animation-duration: 0.2s;

    @include desktop-small {
      width: 25rem;
      animation-name: desktop-small-increase;
      animation-duration: 0.2s;
    }

    @include tablet-landscape {
      width: 15rem;
      animation-name: none;
    }
  }

  @include desktop-small {
    width: 25rem;
  }
  @include tablet-landscape {
    width: 15rem;
    position: relative;
    top: 0;
    left: 0;

  }
}
