<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    class="add-padding-4-top-bottom"
  >
    <v-row>
      <v-col cols="12" sm="6">
        <v-text-field
          v-model="name"
          :rules="nameRules"
          label="Name"
          show-size
          placeholder="Name:"
          dense
          required
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6">
        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail"
          placeholder="E-mail:"
          show-size
          dense
          required
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6">
        <v-text-field
          v-model="phone"
          :rules="phoneRules"
          label="Phone"
          show-size
          placeholder="Phone:"
          dense
          required
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6">
        <v-text-field
          v-model="city"
          :rules="cityRules"
          label="City"
          placeholder="City:"
          show-size
          dense
          required
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="12">
        <v-textarea
          v-model="message"
          :rules="textRules"
          show-size
          auto-grow
          row-height="30"
          name="input-7-4"
          label="Your message: "
          value=""
          required
        ></v-textarea>
      </v-col>
    </v-row>

    <v-btn
      :disabled="!valid"
      color="success"
      class="mr-4"
      @click="validate_and_send"
    >
      Send!
    </v-btn>
    <Dialog
      :should-display="isErrorMessage"
      @close-dialog="closeDialog"
      text="Oops! Something went wrong. Please write us directly on office@plantsfedwell.ca"
    />
    <Dialog
      :should-display="isSuccessMessage"
      @close-dialog="closeDialog"
      text="Thank you for your message! We will get in touch with you soon!"
    />
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import Dialog from './shared/dialog.vue'

export default Vue.extend({
  data: () => ({
    isErrorMessage: false as boolean,
    isSuccessMessage: false as boolean,
    valid: true,
    name: '',
    nameRules: [
      (v: string) => !!v || 'Name is required',
      (v: string) =>
        (v && v.length <= 30) || 'Name must be less than 30 characters',
    ],
    email: '',
    emailRules: [
      (v: string) => !!v || 'E-mail is required',
      (v: string) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    message: '',
    phone: '',
    city: '',
    phoneRules: [(v: string) => !!v || 'You must enter your message!'],
    cityRules: [(v: string) => !!v || 'You must enter your message!'],
    textRules: [(v: string) => !!v || 'You must enter your message!'],
    select: null,
    items: ['Item 1', 'Item 2', 'Item 3', 'Item 4'],
    checkbox: false,
    dialog: false as boolean,
  }),
  computed: {
    form(): Vue & { validate: () => boolean; inputs: any[]; reset: () => {} } {
      return this.$refs.form as Vue & {
        validate: () => boolean
        inputs: any[]
        reset: () => {}
      }
    },
  },
  components: { Dialog },
  methods: {
    validate_and_send() {
      if (this.form.validate()) {
        let params = new URLSearchParams()
        params.append('email', this.form.inputs[1].value)
        params.append('name', this.form.inputs[0].value)
        params.append('phone', this.form.inputs[2].value)
        params.append('city', this.form.inputs[3].value)
        params.append('message', this.form.inputs[4].value)

        axios
          .post('https://plantsfedwell.ca/contact-me.php', params)
          .then((response: any) => {
            this.isSuccessMessage = true
            this.name = ''
            this.email = ''
            this.phone = ''
            this.city = ''
            this.message = ''
            this.form.reset()
          })
          .catch((error: any) => {
            this.isErrorMessage = true
          })
      }
    },
    closeDialog() {
      this.isErrorMessage = false
      this.isSuccessMessage = false
    },
  },
})
</script>
