<template>
  <div class="pfw-contact-action__container">
    <h3 class="pfw-contact-action__title">
      <nuxt-link :nuxt="true" to="/contact" class="pfw-contact-action__link">
        Contact us now!
      </nuxt-link>
    </h3>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({})
</script>
