<template>
  <div class="mt-lg-7">
    <div
      v-if="!imageOnRight"
      class="pfw-image-and-content__container is-flex is-height-40"
    >
      <img
        alt="Image of the left side of text"
        :src="require('~/assets/images/' + size + '/' + image)"
        class="pfw-image-and-content__image is-width-40"
      />
      <ContentBlock
        background="white"
        height="auto"
        :text="text"
        class="is-text-centered center-verticaly is-paddings-added-1-2"
      />
    </div>
    <div v-else class="pfw-image-and-content__container is-flex is-height-60">
      <ContentBlock
        height="auto"
        background="white"
        :text="text"
        class="is-text-centered is-paddings-added-1-2 center-verticaly"
      >
      </ContentBlock>
      <img
        alt="Image of the left side of text"
        :src="require('~/assets/images/' + size + '/' + image)"
        class="pfw-image-and-content__image is-width-40"
      />
    </div>
  </div>
</template>
<script lang="ts">
import ContentBlock from './shared/content-block.vue'
import Vue from 'vue'
export default Vue.extend({
  props: {
    image: {
      type: String,
      required: true,
      default: '',
    },
    size: {
      type: String,
      required: true,
      default: '',
    },
    imageOnRight: {
      type: Boolean,
      required: false,
    },
    imageBig: {
      type: Boolean,
      required: false,
    },
    text: {
      type: String,
      required: true,
      default: 'text',
    },
    title: {
      type: String,
      required: true,
      default: 'text',
    },
    button: {
      type: String,
    },
  },
  components: {
    ContentBlock,
  },
})
</script>
