<template>
  <div class="pfw-logo__container">
    <nuxt-link to="/">
      <img
        alt="Plants fed well logo"
        src="~/assets/images/logo-small.png"
        :class="[
          'pfw-logo__image',
          {
            'should-decrease-logo-size': decreaseLogoSize && screenWidth >= 768,
            'should-increase-logo-size':
              !decreaseLogoSize && counter > 0 && screenWidth >= 768,
          },
        ]"
      />
    </nuxt-link>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      decreaseLogoSize: false as boolean,
      counter: 0 as number,
      screenWidth: 0 as number,
    }
  },
  methods: {
    handleScroll() {
      this.counter++
      if (window.scrollY > 0) {
        this.decreaseLogoSize = true
      } else {
        this.decreaseLogoSize = false
      }
    },
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll)
    this.screenWidth = screen.width
  },
})
</script>
