.pfw-icon-text-item__container {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: flex-start;

    @include tablet-landscape {
        flex-basis: 80%;
    }
}

.pfw-icon-text-item__image {
    width: 7rem;
    object-fit: contain;
}

.pfw-icon-text-item__text {
    font-size: 2rem;
    padding: 0 3rem 0 1rem;
    margin-bottom: 10rem !important;
    line-height: 3.5rem;
}
