@mixin tablet-landscape-and-up {
  @media (min-width: $ww-screen-tablet-landscape) {
    @content;
  }
}


@mixin desktop-small {
  @media (max-width: $ww-screen-desktop-sm) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: $ww-screen-desktop-large) {
    @content;
  }
}

@mixin desktop-1500 {
  @media (max-width: $ww-screen-desktop-1500) {
    @content;
  }
}

@mixin desktop-min-1500 {
  @media (min-width: $ww-screen-desktop-1500) {
    @content;
  }
}

@mixin desktop-1600 {
  @media (max-width: $ww-screen-desktop-1600) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (max-width: $ww-screen-tablet-landscape) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (max-width: $ww-screen-tablet-portrait) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (max-width: $ww-screen-mobile-landscape) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $ww-section-mobile) {
    @content;
  }
}

@mixin mobile-portrait {
  @media (max-width: $ww-screen-mobile-portrait) {
    @content;
  }
}

@mixin mobile-portrait-sm {
  @media (max-width: $ww-screen-mobile-sm-portrait) {
    @content;
  }
}
