// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$main-color-black: #222222;
$main-color-white: #ffffff;
$main-color-purple: #9c27b0;
$main-color-green: #86c440;
$main-color-gray: #e0e0e0;
$main-color-gray-2: #f5f5f5;
$main-color-gray-3: #777777;
$main-color-gray-4: #f0f0f0;
$main-color-orange: #f6b923;

$purple-lighten-2: #BA68C8;
$purple-lighten-5: #F3E5F5;

$text-gray: #7a8793;
$text-white: #ffffff;

$ww-screen-full-hd: 1920px;
$ww-screen-desktop-sm: 1300px;
$ww-screen-tablet-landscape: 1024px;
$ww-screen-tablet-portrait: 768px;
$ww-screen-mobile-landscape: 740px;
$ww-screen-mobile-portrait: 575px;
$ww-screen-mobile-sm-portrait: 340px;
$ww-screen-desktop-1500: 1500px;
$ww-screen-desktop-1600: 1600px;
$ww-section-desktop-lg: 1480px;
$ww-section-desktop: 1365px;
$ww-section-mobile: 769px;
