html {
  font-size: 10px !important;
  font-family: "Raleway";
}

.v-application {
  font-family: "Raleway" !important;
}

.v-tab {
  font-size: 1.4rem !important;
  text-transform: capitalize !important;
  color: #222222 !important;
  letter-spacing: 0.1rem !important;
  font-weight: 900 !important;
}

.v-tabs-bar__content {
  justify-content: flex-end;
}

.v-application .primary--text {
  color: #f6b923 !important;
  caret-color: #f6b923 !important;
}

.pfw-footer-text__container {
  display: flex !important;
}

.v-card__text {
  font-size: 1.4rem !important;
  line-height: 2rem !important;
  text-align: left;
}

.v-tabs-slider {
  color: #86c440 !important;
}

.theme--light.v-tabs > .v-tabs-bar {
  background-image: linear-gradient(to right, white, #f6b923) !important;
}

.v-btn.v-size--default {
  font-size: 1.5rem !important;
}

@keyframes decrease {
  from {
    width: 35rem;
  }
  to {
    background-color: 15rem;
  }
}
@keyframes desktop-small-decrease {
  from {
    width: 25rem;
  }
  to {
    background-color: 15rem;
  }
}
@keyframes desktop-small-increase {
  from {
    width: 15rem;
  }
  to {
    background-color: 25rem;
  }
}
@keyframes increase {
  from {
    width: 15rem;
  }
  to {
    background-color: 35rem;
  }
}
.pfw-logo__container {
  position: relative;
  height: 100%;
  width: 70%;
}
.pfw-logo__container.is-padding-left-13 {
  padding-left: 13rem;
}
@media (max-width: 1024px) {
  .pfw-logo__container.is-padding-left-13 {
    padding-left: 0;
  }
}
@media (max-width: 1300px) {
  .pfw-logo__container {
    width: 35%;
  }
}
@media (max-width: 1024px) {
  .pfw-logo__container {
    width: 90%;
  }
}

.pfw-logo__image {
  position: absolute;
  bottom: 0;
  width: 35rem;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
}
.pfw-logo__image.should-decrease-logo-size {
  width: 15rem;
  animation-name: decrease;
  animation-duration: 0.5s;
}
@media (max-width: 1300px) {
  .pfw-logo__image.should-decrease-logo-size {
    width: 15rem;
    animation-name: desktop-small-decrease;
    animation-duration: 0.2s;
  }
}
.pfw-logo__image.should-increase-logo-size {
  width: 35rem;
  animation-name: increase;
  animation-duration: 0.2s;
}
@media (max-width: 1300px) {
  .pfw-logo__image.should-increase-logo-size {
    width: 25rem;
    animation-name: desktop-small-increase;
    animation-duration: 0.2s;
  }
}
@media (max-width: 1300px) {
  .pfw-logo__image {
    width: 25rem;
    margin-left: -1.25rem;
  }
}
@media (max-width: 740px) {
  .pfw-logo__image {
    margin-left: -1.8rem;
    width: 15rem;
  }
}

.pfw-header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 12;
  height: 7rem;
  margin-top: 10rem;
}
@media (max-width: 740px) {
  .pfw-header__container {
    height: 7rem;
    margin-top: 0;
  }
}

.pfw-hero-banner__container {
  min-height: 100vh;
  height: auto;
  display: flex;
  position: relative;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .pfw-hero-banner__container {
    flex-direction: column-reverse;
  }
}

.pfw-hero-banner__image-container {
  display: flex;
  position: relative;
  z-index: 1;
  object-fit: contain;
  flex-basis: 50%;
}
.pfw-hero-banner__image-container.is-rounded {
  border-radius: 0 0 50% 50%/0 0 15% 15%;
}

.pfw-hero-banner__image {
  position: absolute;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
@media (max-width: 1024px) {
  .pfw-hero-banner__image {
    position: relative;
    top: 0;
    transform: none;
  }
}

.pfw-hero-banner__text-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
  font-size: 1.8rem;
  text-align: justify;
  color: #777777;
  background: white;
  padding-right: 30rem;
}
@media (max-width: 1024px) {
  .pfw-hero-banner__text-container {
    padding-right: 10rem;
  }
}
@media (max-width: 768px) {
  .pfw-hero-banner__text-container {
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
  }
}

.pfw-hero-banner__border-container {
  height: auto;
  border-top: 0.3rem solid #9c27b0;
  padding-top: 4rem;
}
@media (max-width: 768px) {
  .pfw-hero-banner__border-container {
    border-top: none;
  }
}

.pfw-hero-banner__title {
  font-size: 4rem;
  color: #222222;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
}

.pfw-hero-banner__text {
  font-size: 2.5rem;
  margin-bottom: 8rem !important;
  color: #222222;
}

.pfw-hero-image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
@media (max-width: 740px) {
  .pfw-hero-image {
    height: auto;
  }
}

.pfw-content-block__container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.pfw-content-block__container.is-black {
  background: #000;
}
.pfw-content-block__container.is-ghost-white {
  background: ghostwhite;
}
.pfw-content-block__container.is-purple-lighten {
  background: #F3E5F5;
}
.pfw-content-block__container.is-full-screen {
  min-height: 100vh;
  height: auto;
}
.pfw-content-block__container.is-margin-bottom-3 {
  margin-bottom: 3rem;
}
.pfw-content-block__container.is-auto {
  height: auto;
}
.pfw-content-block__container.is-paddings-added-10-20-4 {
  padding: 10rem 20rem 4rem;
}
@media (max-width: 1024px) {
  .pfw-content-block__container.is-paddings-added-10-20-4 {
    padding: 4rem 0;
  }
}
.pfw-content-block__container.is-paddings-added-4-10 {
  padding: 4rem 10rem 4rem;
}
@media (max-width: 1024px) {
  .pfw-content-block__container.is-paddings-added-4-10 {
    padding: 4rem 0;
  }
}
.pfw-content-block__container.is-paddings-added-4 {
  padding: 4rem;
}
@media (max-width: 1024px) {
  .pfw-content-block__container.is-paddings-added-4 {
    padding: 4rem 0;
  }
}
.pfw-content-block__container.is-paddings-added-1-2 {
  padding: 1rem 2rem 1rem;
}
@media (max-width: 1024px) {
  .pfw-content-block__container.is-padding-small-top-4 {
    padding: 4rem 0 0 0;
  }
}
.pfw-content-block__container.is-text-left-aligned {
  align-items: flex-start;
}
.pfw-content-block__container.is-text-centered {
  align-items: center;
}
.pfw-content-block__container.center-verticaly {
  justify-content: center;
}
@media (max-width: 1024px) {
  .pfw-content-block__container {
    padding: 4rem 0;
  }
}

.pfw-content-block__text-item {
  line-height: 5rem;
}

.pfw-content-block__title {
  font-size: 4rem;
}
.pfw-content-block__title.is-whity {
  color: #e0e0e0;
}
.pfw-content-block__title.is-line-over-title {
  border-top: 1rem solid #9c27b0;
  padding-top: 2rem;
}
@media (max-width: 1024px) {
  .pfw-content-block__title {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

.pfw-content-block__subtitle {
  font-size: 1.8rem;
  color: #777777;
  margin-top: 1.5rem;
}
.pfw-content-block__subtitle.is-whity {
  color: #e0e0e0;
}
@media (max-width: 1024px) {
  .pfw-content-block__subtitle {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

.pfw-content-block__text {
  font-size: 2rem;
  color: #222222;
  margin-top: 1.5rem;
  line-height: 4rem;
}
@media (max-width: 1024px) {
  .pfw-content-block__text {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
  }
}

.pfw-footer__container {
  height: 7rem;
  background: #ffffff !important;
}

.pfw-footer-text__container {
  margin-top: 4rem;
  font-size: 1.6rem;
}

.pfw-icon-text-list__container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: center;
  margin-top: 6rem;
}
@media (max-width: 768px) {
  .pfw-icon-text-list__container {
    width: 100%;
  }
}

.pfw-icon-text-item__container {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .pfw-icon-text-item__container {
    flex-basis: 80%;
  }
}

.pfw-icon-text-item__image {
  width: 7rem;
  object-fit: contain;
}

.pfw-icon-text-item__text {
  font-size: 2rem;
  padding: 0 3rem 0 1rem;
  margin-bottom: 10rem !important;
  line-height: 3.5rem;
}

.pfw-image-and-content__container {
  width: 100%;
}
.pfw-image-and-content__container.is-flex {
  display: flex;
}
.pfw-image-and-content__container.is-height-40 {
  min-height: 40rem;
}
.pfw-image-and-content__container.is-height-30 {
  height: 30rem;
}
@media (max-width: 1024px) {
  .pfw-image-and-content__container {
    flex-direction: column;
  }
}

.pfw-image-and-content__image {
  object-fit: contain;
}
.pfw-image-and-content__image.is-width-40 {
  width: 47%;
}
@media (max-width: 1024px) {
  .pfw-image-and-content__image.is-width-40 {
    width: 100%;
  }
}
.pfw-image-and-content__image.is-width-50 {
  width: 50%;
}
@media (max-width: 1024px) {
  .pfw-image-and-content__image.is-width-50 {
    width: 100%;
  }
}
.pfw-image-and-content__image.is-width-60 {
  width: 60%;
}
@media (max-width: 1024px) {
  .pfw-image-and-content__image.is-width-60 {
    width: 100%;
  }
}

.pfw-contact-action__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(to left, white, #f6b923) !important;
  width: 75%;
  height: 5rem;
  padding-left: 10rem;
}
@media (max-width: 1024px) {
  .pfw-contact-action__container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.pfw-contact-action__title {
  font-size: 2rem;
}

.pfw-contact-action__link {
  text-decoration: none;
  color: #222222 !important;
}

.pfw-display-images__container {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 0;
}

.pfw-display-images__image {
  object-fit: cover;
}

.pfw-display-images__image:nth-child(1) {
  width: 66%;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.pfw-display-images__image:nth-child(2) {
  width: 33%;
  padding-bottom: 3rem;
}

.pfw-display-images__image:nth-child(3) {
  width: 33%;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.pfw-display-images__image:nth-child(4) {
  width: 66%;
  padding-bottom: 3rem;
}

.pfw-page__container {
  padding: 7rem 30rem;
  width: 75%;
  margin: 0 auto;
}
.pfw-page__container.is-form {
  padding: 10rem 40rem;
}
@media (max-width: 1024px) {
  .pfw-page__container {
    padding: 0;
    margin: 0 auto;
    width: 90%;
  }
}

.pfw-page__title {
  font-size: 4rem;
  text-align: center;
  margin: 5rem 0 3rem;
}
.pfw-page__title.is-margin-bottom-0 {
  margin-bottom: 0;
}
.pfw-page__title.is-margin-top-1 {
  margin-top: 1rem;
}

.pfw-contact-page__container {
  min-height: 80vh;
}
@media (max-width: 1024px) {
  .pfw-contact-page__container {
    width: 90%;
    margin: 0 auto !important;
  }
}

.pfw-contact-page__icon-container {
  text-align: center;
}

.pfw-contact-page__icon {
  width: 7rem;
}

.full-width {
  width: 100%;
}

.pfw-font-size {
  font-size: 1.6rem;
}

.pfw-font-size-2 {
  font-size: 2rem;
}

.pfw-u-text {
  font-size: 1.6rem;
}

.add-padding-4-top-bottom {
  padding: 4rem 0;
}

.is-font-16 {
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .center-small {
    width: auto;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=main.css.map */
