.pfw-page__container {
  //  min-height: 100vh;
  padding: 7rem 30rem;
  width: 75%;
  margin: 0 auto;
  &.is-form {
    padding: 10rem 40rem;
  }

  @include tablet-landscape {
    padding: 0;
    margin: 0 auto;
    width: 90%;
  }
}

.pfw-page__title {
  font-size: 4rem;
  text-align: center;
  margin: 5rem 0 3rem;

  &.is-margin-bottom-0 {
    margin-bottom: 0;
  }

  &.is-margin-top-1 {
    margin-top: 1rem;
  }
}

.pfw-contact-page__container {
  min-height: 80vh;
  @include tablet-landscape {
    width: 90%;
    margin: 0 auto !important;
  }
}

.pfw-contact-page__icon-container {
  text-align: center;
}

.pfw-contact-page__icon {
  width: 12rem;

  @include tablet-landscape {
    width: 7rem;
  }
}

.pfw-navigation-item__text {
  font-size: 3rem;
}
