<template>
  <v-footer padless class="pfw-footer__container">
    <v-col class="text-center is-font-16" cols="12">
      {{ new Date().getFullYear() }} — <strong>Plants Fed Well</strong>
    </v-col>
  </v-footer>
</template>
<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>
