<template>
  <div class="pfw-header__container">
    <div v-if="!lesserThan1024" class="pfw-small-screen__falafel">
      <v-menu rounded="rounded" offset-y>
        <template v-slot:activator="{ attrs, on }">
          <v-app-bar-nav-icon v-bind="attrs" v-on="on"></v-app-bar-nav-icon>
        </template>
        <v-list>
          <v-list-item
            v-for="item in headerItems"
            :key="item"
            link
            :to="makeLinkString(item)"
            :nuxt="true"
          >
            <v-list-item-title v-text="item"></v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    <Logo />

    <v-tabs v-if="lesserThan1024" background-color="">
      <v-tab
        v-for="item in headerItems"
        :key="item"
        :to="makeLinkString(item)"
        :link="true"
        :nuxt="true"
        >{{ item }}</v-tab
      >
    </v-tabs>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Logo from './../components/Logo.vue'

export default Vue.extend({
  data() {
    return {
      headerItems: [
        'Home',
        'Cultivation consulting',
        'Mineral nutrition solutions',
        'Contact',
      ] as string[],
      lesserThan1024: false as boolean,
    }
  },
  components: { Logo },
  methods: {
    makeLinkString(text: string) {
      return text == 'Home' ? '/' : text.split(' ').join('-').toLowerCase()
    },
  },

  mounted() {
    if (screen.width > 1024) {
      this.lesserThan1024 = true
    }
  },
})
</script>
