<template>
  <v-app class="v-row">
    <Header />

    <v-main class="pfw-page__container">
      <Title
        title="Welcome to Plants Fed Well!"
        class="is-margin-bottom-0"
      ></Title>
      <Title title="Let’s Grow!" class="is-margin-top-1"></Title>
      <ImageAndContent
        image="feed-plant-water.jpg"
        size="desktop"
        title="What we do?"
        :image-on-right="true"
        :image-big="true"
        text="Plants Fed Well Inc. will help your business define and take command of the plethora of plants mineral requirements, environmental conditions and cultivation practices, to perfect your production process and give a boost to your yields. "
      >
      </ImageAndContent>
      <client-only>
        <ImageAndContent
          image="man-in-white-shirt.jpg"
          size="desktop"
          text="Success in intensive precision-agriculture business is science-based, and our products and services will ensure your new project gets a solid start, and your ongoing grow ventures get organized and optimized."
          title="test"
          :image-on-right="screenWidth > 1024 ? false : true"
        />
      </client-only>
    </v-main>
    <ContentBlock
      background="is-gray"
      height="auto"
      text="Rural or urban setting, indoor, outdoor or greenhouse – we can provide assistance."
      class="mt-lg-8 is-padding-small-top-4 is-width-100"
    >
    </ContentBlock>
    <ContentBlock
      background="is-gray"
      height="auto"
      text="Increase your harvest quality and quantity, decrease your costs, forecast your yields, organize smart!"
      class="mb-lg-8 is-padding-small-1-0 is-width-100"
    >
    </ContentBlock>
    <ContactAction />
    <HeroImage size="desktop" image="green-grass-of-home.jpg" />
    <Footer />
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import Header from './../layouts/header.vue'
import ContentBlock from './../components/shared/content-block.vue'
import Footer from './../layouts/footer.vue'
import ImageAndContent from './../components/image-and-content.vue'
import ContactAction from './../components/contact-action.vue'
import HeroImage from './../components/shared/hero-image.vue'
import global from './../mixins/global.js'

export default Vue.extend({
  head() {
    return {
      title: 'Plants Fed Well Inc.',
    }
  },
  mixins: [global],
  components: {
    Header,
    ContentBlock,
    Footer,
    ImageAndContent,
    HeroImage,
    ContactAction,
  },
})
</script>
