.v-tab {
  font-size: 1.6rem !important;
  text-transform: capitalize !important;
  color: $main-color-black !important;
  letter-spacing: 0.1rem !important;
  font-weight: 900 !important;
}

.v-tabs-bar__content {
  justify-content: center;
}

.v-application .primary--text {
  color: $main-color-orange !important;
  caret-color: $main-color-orange !important;
}

.pfw-footer-text__container {
  display: flex !important;
}
.v-card__text {
  font-size: 1.4rem !important;
  line-height: 2rem !important;
  text-align: left;
}

.v-tabs-slider {
  color: $main-color-green !important;
}
.theme--light.v-tabs > .v-tabs-bar {
  background-image: linear-gradient(
    to right,
    white,
    $main-color-orange
  ) !important;
}

.v-btn.v-size--default {
  font-size: 1.5rem !important;
}

.v-list-item__title {
  font-size: 1.5rem !important;
}
