<template>
  <v-app>
    <div>
      <Header />
      <v-main class="pfw-page__container">
        <Title title="Cultivation consulting" />
        <client-only>
          <ImageAndContent
            image="green-and-blue-shirt.jpg"
            :size="size"
            title="What we do?"
            :image-on-right="screenWidth > 1024 ? false : true"
            :image-big="true"
            text="Our cultivation consulting services will help you collect and organize your data. Furthermore, we will recognize areas where affordable improvements could be introduced, then establish optimal processes and engage high-end automation controls that will save your resources and increase your profit. "
          />
        </client-only>
        <client-only>
          <ImageAndContent
            image="staklenik.jpg"
            :size="size"
            title="What we do?"
            :image-on-right="true"
            :image-big="true"
            text="Get your cultivation areas’ humidity, temperature, VPD, CO2, air flow, light’s quality and quantity under control. Any mishandling of these environmental components can lead to a downwards cascade of linked reactions that will rip the control out of your hands. Do not let that happen!"
          />
        </client-only>
        <ContentBlock
          background="is-gray"
          height="auto"
          text="With a holistic approach to assessing your particular cultivation process, employing a long list of well-defined agroecological principles, our services will drive your horticultural or agricultural enterprise forward. Meanwhile let computers, machines and plants do most of the work.

"
          class="mt-lg-8 mb-lg-8 is-width-100"
        />
      </v-main>
      <ContactAction />
      <HeroImage
        size="desktop"
        image="plant-field.jpg"
        class="pfw-hero-image"
      />
      <Footer />
    </div>
  </v-app>
</template>
<script lang="ts">
import Vue from 'vue'
import Header from './../../layouts/header.vue'
import ContentBlock from './../../components/shared/content-block.vue'
import Footer from './../../layouts/footer.vue'
import ContactAction from './../../components/contact-action.vue'
import HeroImage from './../../components/shared/hero-image.vue'
import global from './../../mixins/global.js'
import Title from './../../components/shared/title.vue'
import ImageAndContent from '@/components/image-and-content.vue'

export default Vue.extend({
  head() {
    return {
      title: 'Plants Fed Well Inc. - Cultivation Consulting',
    }
  },
  components: {
    Header,
    ContentBlock,
    Footer,
    ContactAction,
    HeroImage,
    Title,
    ImageAndContent,
  },
  mixins: [global],
})
</script>
1
